* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Arial';
  font-size: 18px;
  color: #777;
  background: #777;
  width: 960px;
}

header {
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  width: 990px;
  left: 150px;
  color: #777;
  background: #ebebeb;
}

#Nav {
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 990px;
  left: 150px;
  color: #777;
  background: #ebebeb;
}

#full {
  width: 990px;
  position: relative;
  left: 150px;
  background: #777;
}

#aside {
  float: right;
  width: 48%;
  right: 100px;
  height: 300px;
  padding: 20px;
  color: #777;
  background: #ebebeb;
}

#article {
    position: absolute;
    float: left;
    height: 185px;
    top: 100px;
    padding: 20px;
    width: 435px;
    color: #ebebeb;
    background: #777;
}

#headers {
    color: #777;
    background: #ebebeb;
    font-size: 18px;
    height: 40px;
    padding: 20px;
    width: 400px;
}

#p {
    color: #777;
    background: #ebebeb;
    clear: both;
    font-size: 18px;
    height: 40px;
    padding: 20px;
    width: 400px;

}

#left {
  float: left;
  width: 48%;
  height: 300px;
  padding: 20px;
  color: #777;
  background: #ebebeb;
}

footer {
  clear: both;
  position: relative;
  padding: 20px;
  width: 990px;
  top: 20px;
  left: 150px;
  color: #777;
  background: #ebebeb;
}
